includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - plugins

    level: 6

    ignoreErrors:
        - identifier: return.type
          path: plugins/backup-templates/src/Models/BackupTemplate.php
